@model WebApplication.Models.Tweet

<div>
    <h4>Tweet details</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TweetUser)
        </dt>

        <dd>
            @Html.TweetUserFor(Model.TweetUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
    @Html.ActionLink("Edit", "Edit", "Tweet", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("Delete", "Delete", "Tweet", new { id = Model.Id }, new { @class = "btn btn-default" })
    <hr />
    @if (Model.TweetMessages.Count > 0)
    {
        <h4>Messages:</h4>
        <hr />
    }
    @foreach (var message in Model.TweetMessages)
    {
        @Html.TweetMessageFor(message);
        @Html.ActionLink("Edit", "Edit", "TweetMessage", new { id = message.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Details", "Details", "TweetMessage", new { id = message.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Delete", "Delete", "TweetMessage", new { id = message.Id }, new { @class = "btn btn-default" })
        <hr />
    }
    @Html.ActionLink("Add message", "Create", "TweetMessage", new { id = Model.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink("To Dashboard", "Index", "TweetDashboard", null, new { @class = "btn btn-default" })
</div>
