@model WebApplication.Models.Data

@{
    ViewBag.Title = "Submitted";
}

<h2>@ViewBag.Message</h2>
<hr />

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.Display(Model.CityList[(int)Model.City].Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cities)
        </dt>

        @foreach (var city in Model.Cities)
        {
            <dd>
                @Html.Display(Model.CitiesList.ToList()[(int)city].Text)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Fill again", "Fill", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-default" })
</p>
