@model WebApplication.Models.TweetComment

<div>
    <h4>@ViewBag.Message</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Tweet)
        </dt>

        <dd>
            @Html.TweetFor(Model.Tweet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TweetUser)
        </dt>

        <dd>
            @Html.TweetUserFor(Model.TweetUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Changed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Changed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.TweetYesNoFor(Model.Enabled)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", null, new { id = Model.Id }, new { @class = "btn btn-default" } )
    @Html.ActionLink("Back to List", "Details", "Tweet", new { id = Model.TweetId }, new { @class = "btn btn-default" })
</p>
